[Unit]
Description="Consul Agent"
Wants=network-online.target
After=network-online.target

[Service]
User={{ consul_user }}
Group={{ consul_group }}
ExecStart={{ consul_home }}/bin/consul agent -config-dir {{ consul_config_dir }} -config-file={{ consul_config_file }}
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target